#!/bin/bash

set -e

# A version from https://papermc.io/downloads
# or https://www.spigotmc.org/wiki/buildtools/
MINE_VERSION="1.19-66"

# Check your memory available and allocate something between 2G and [your-memory-available]-1.5G.
MEMORY_MAX="12000M"

# A prefix word for backup files.
SERVER_ID="m"

# A runnable JAR file.
JAR_FILE="paper-${MINE_VERSION}.jar"
